.container {
    background-color: #ffffff;
    padding: 40px;
    margin: 70px 0 110px 400px;
    height: 450px;
    width: 700px;
    position: relative;
}

.first-4 {
    color: #eb5e28;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    margin: -60px -65px;
    font-size: 8.5rem;
    left: 42%;
    top: 20%;
    color: #eb5e28;
}

.second-4 {
    color: #eb5e28;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
}

.message {
    text-align: center;
    font-size: 1.3rem;
    position:absolute;
    left: 16%;
    top: 70%;
    width: 75%;
}

a {
    transition: all 0.1s ease;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>😊</text></svg>") 16 0,auto;
}


/* Responsive 404 page */
@media only screen and (min-width: 768px) and (max-width: 1060px){
    .container {
        margin: auto;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 75%;
        margin: auto;
    }

    .far {
        margin: -70px -100px;
    }

    .first-4 {
        display: none;
    }

    .second-4 {
        display: none;
    }

    .message {
        font-size: inherit;
    }
}

