textarea {
    display: block;
    width: 100%;
}

.admin-content {
    width: 100%;
}

textarea {
    color: #fff;
    background: #252422;
    border: none;
}

form input {
    display: block;
    padding: 5px 20px;
    margin-bottom: 12px;
}

form input[type="reset"],
form input[type="submit"] {
    display: inline;
    width: min-content;
    margin-top: 15px;
}


/* Responsive admin pages */
@media screen and (max-width: 950px) {
    .admin-content {
        width: initial;
    }
}
