textarea {
    display: block;
    width: 100%;
}

.admin-content {
    width: 100%;
}


/* Responsive admin pages */
@media screen and (max-width: 950px) {
    .admin-content {
        width: initial;
    }
}
