textarea {
    display: block;
    width: 100%;
}

.admin-content {
    width: 100%;
}

textarea {
    color: #fff;
    background: #252422;
    border: none;
}

form input {
    display: block;
    padding: 5px 20px;
    margin-bottom: 12px;
}

.cms-editor-reset {
    display: inline;
    width: min-content;
    margin: 15px;
}

form input[type="reset"],
form input[type="submit"] {
    display: inline;
    width: min-content;
    margin-top: 15px;
}

form input[type="submit"] {
    color: #fff;
    background: #252422;
    border: 1px solid #403d39;
}

form input[type="submit"]:hover {
    background: #403d39;
}

form input[type="submit"]:active {
    background: #eb5e28;
}


/* Database manager styles */
.dtbm-table-title {
    margin: 50px 0 0 0;
    scroll-margin-top: 120px;
}

.dtbm-table-title .toggle-visibility {
    color: #eb5e28;
    margin-left: 25px;
    margin-right: 20px;
    font-size: 0.8em;
}

.dtbm-table-title .toggle-visibility:hover {
    cursor: pointer;
}

.dtbm-form {
    display: none;
    min-width: 200px;
    max-height: 420px;
    overflow: scroll;
}

.dtbm-table, .dtbm-table td, .dtbm-table th {
    background: #f7f7f7;
    border: 2px solid #fff;
    border-collapse: collapse;
    text-align: left;
    padding: 10px 20px;
}

.dtbm-table th {
    color: #fff;
    background: #403d39;
}

.dtbm-table td {
    padding: 10px 0 0;
}

.dtbm-table td input {
    border: none;
    background: transparent;
}


/* Page editor styles */
.page-editor-title {
    font-size: xx-large;
    padding: 0 20px;
    margin: 100px 20px 50px 20px;
}

.page-editor-label {
    display: block;
    margin: 30px 0 10px 0;
    font-size: larger;
}

.page-editor-textarea {
    outline: none;
    color: #000;
    background: transparent;
    padding: 10px;
    border: 1px solid #cdcdcd;
    transition: 0.5s;
}

.page-editor-textarea:focus {
    border-color: #555555;
    border-radius: 10px 10px 0 10px;
}

.flip-card {
    font-size: smaller;
    width: 300px;
    height: 300px;
    margin: 0 2.5% 5% 2.5%;
}

.flip-card:hover {
    cursor: initial;
}

.flip-card input[type="file"] {
    background: #aba18c;
}


/* Responsive admin pages */
@media screen and (max-width: 950px) {
    .dtbm-form {
        width: initial;
    }

    .admin-content {
        width: initial;
    }
}
