body {
    background: #ececec;
}

main {
    background: #fff;
    padding: 80px 100px;
    width: 560px;
    margin: 100px auto;
    box-shadow: 0 0 100px 10px #cdcdcd;
}

main h1 {
    padding: 0 0 20px 0;
    margin: 20px 0 0 0;
}

.install-success-msg {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    position: fixed;
    top: 90px;
    display: block;
    width: 100%;
    background-color: #c4e0c4;
    opacity: 0.9;
    color: #004e00;
    border: 1px solid #118811;
    padding: 25px 50px;
    transform-origin: top;
    animation: fadeInExpand 0.5s;
}

.install-instructions {
    padding: 0 50px;
    margin-bottom: 100px;
}

.install-form-wrapper {
    padding-bottom: 20px;
}

.form-bttn-field {
    margin-top: 50px;
}

footer {
    padding: 0;
}


/* Responsive install.php */
@media only screen and (max-width: 950px) {
    nav {
        -webkit-justify-content: center;
        justify-content: center;
    }

    main {
        width: initial;
        margin: 0;
        padding: 50px 0 0 0;
    }
}

@media only screen and (max-width: 767px) {
    .install-success-msg {
        top: 60px;
    }
}
