.href-button button{
    width: 200px;
    height: 50px;
}

.href-button {
    padding-bottom: 200px;
}
.href-button-continue {
    background-color: #252422;
    color: #fff;
    margin:10px;
    text-decoration: none;
    border-color: #252422;
}

.href-button-continue:active {
    background: #555555;
}

.href-button-home {
    background-color: #eb5e28;
    color: #fff;
    margin: 10px;
    text-decoration: none;
    border-color: #252422;
}

.href-button-home:active {
    background: #B0441E;
}
.content-body {
    text-align: center;
}

.thank-you-frame {
    padding: 150px 0 40px 0;
    font-size: 2.5em;
}

.thank-you-sentence {
    padding: 0 75px;
}

.fa-check {
    color: #008000;
    font-size:200%;
}