.forgot-pw-title {
    margin-top: 100px;
}

.desktop-only {
    display: initial;
}

.u-px-100 {
    padding: 0 100px;
}

.u-btn {
    display: table;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 10px;
    border-radius: 0;
    align-self: flex-start;
}

#forgot-pw-input {
    margin: 30px 0;
}

.email-phone-input {
    width: 70%;
}

.email-phone-input, .forgot-pw-submit {
    padding: 15px 20px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 30px;
    border: none;
}

.forgot-pw-submit {
    color: #fff;
    background: #EB5E28;
}

.forgot-pw-submit:active {
    background: #cd4813;
}

.u-input {
    display: block;
    width: 100%;
    padding: 15px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: transparent;
    color: inherit;
    height: auto;
}
.u-form-vertical.u-form-spacing-27 {
    margin-left: -27px;
    width: calc(100% +  27px);
}
.u-form-vertical.u-form-spacing-27 .u-form-group {
    margin-bottom: 27px;
    padding-left: 27px;
}
.u-form-control-hidden {
    display: none !important;
}
.u-form div.u-form-send-error,
.u-form div.u-form-send-success {
    display: none;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px 0 20px 0;
    border: none;
}
.u-form {
    position: relative;
    font-size: 1rem;
    height: auto !important;
}
.u-form-horizontal .u-form-submit {
    margin-right: 0 !important;
}
.u-form-vertical .u-form-submit {
    margin-bottom: 0 !important;
}

.u-opacity-70,
.u-opacity-70:before {
    opacity: 0.7;
}
.u-opacity-65,
.u-opacity-65:before {
    opacity: 0.65;
}
.u-opacity-60,
.u-opacity-60:before {
    opacity: 0.6;
}
.u-opacity-55,
.u-opacity-55:before {
    opacity: 0.55;
}
.u-opacity-50,
.u-opacity-50:before {
    opacity: 0.5;
}
.u-opacity-45,
.u-opacity-45:before {
    opacity: 0.45;
}
.u-opacity-40,
.u-opacity-40:before {
    opacity: 0.4;
}
.u-opacity-35,
.u-opacity-35:before {
    opacity: 0.35;
}
.u-opacity-30,
.u-opacity-30:before {
    opacity: 0.3;
}
.u-opacity-5,
.u-opacity-5:before {
    opacity: 0.05;
}
.u-opacity-0,
.u-opacity-0:before {
    opacity: 0;
}
[class*="u-border-"].u-border-no-top {
    border-top-width: 0;
    border-top-style: none;
}
[class*="u-border-"].u-border-no-right {
    border-right-width: 0;
    border-right-style: none;
}
[class*="u-border-"].u-border-no-bottom {
    border-bottom-width: 0;
    border-bottom-style: none;
}
[class*="u-border-"].u-border-no-left {
    border-left-width: 0;
    border-left-style: none;
}
.u-image-square {
    border-radius: 0;
}
[data-post-link],
[data-href] {
    cursor: pointer;
}
.u-sheet {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1200px) {
    .u-valign-middle-xl,
    .u-valign-top-xl,
    .u-valign-bottom-xl {
        display: flex;
        flex-direction: column;
    }
}
.u-layout-row > .u-size-35 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
}
.u-layout-col > .u-size-35 {
    flex: 35 0 58.33333333%;
}
.u-layout-row > .u-size-34 {
    flex: 0 0 56.66666667%;
    max-width: 56.66666667%;
}
.u-layout-col > .u-size-34 {
    flex: 34 0 56.66666667%;
}
.u-layout-row > .u-size-25 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}
.u-layout-col > .u-size-25 {
    flex: 25 0 41.66666667%;
}
.u-layout-col,
.u-layout-row,
.u-layout-col > * {
    display: flex;
}
.u-layout-cell {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}
.u-line.u-line-horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: inherit;
}
h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.125rem;
}
h6 {
    font-size: 1.125rem;
}
p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}
.u-uppercase {
    text-transform: uppercase;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-table-cell .u-btn.u-button-link,
.u-text .u-btn.u-button-link {
    display: inline;
}
.u-shape-svg.u-border-0 {
    stroke-width: 0;
}
.u-link.u-border-0 {
    border-width: 0 0 0 0;
}
.u-border-1,
.u-separator-1:after,
.u-text.u-border-1,
a.u-button-style.u-border-1 {
    border-width: 1px;
}
.u-radius-32,
.u-radius-32:before,
.u-radius-32 .u-background-effect,
.u-radius-32 > .u-container-layout {
    border-radius: 32px !important;
}
/* begin password and email input box*/
.u-white,
.u-body.u-white,
.u-container-style.u-white:before,
.u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
}
/* end password and email input box*/

/*begin background black color*/
.u-black,
.u-body.u-black,
.u-container-style.u-black:before,
.u-table-alt-black tr:nth-child(even) {
    color: #ffffff;
    background-color: #000000;
}
/*end background black color*/

.u-hover-grey-75:hover,
.u-hover-grey-75[class*="u-border-"]:hover,
.u-hover-grey-75:focus,
.u-hover-grey-75[class*="u-border-"]:focus,
.u-active-grey-75.u-active.u-active,
.u-active-grey-75[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-grey-75:hover,
a.u-button-style.u-hover-grey-75[class*="u-border-"]:hover,
a.u-button-style.u-hover-grey-75:focus,
a.u-button-style.u-hover-grey-75[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-grey-75:active,
a.u-button-style.u-button-style.u-active-grey-75[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-grey-75.active,
a.u-button-style.u-button-style.u-active-grey-75[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-grey-75,
li.active > a.u-button-style.u-button-style.u-active-grey-75[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #404040 !important;
}
.u-button-style.u-border-black {
    border-color: #000000 !important;
    color: #000000 !important;
    background-color: transparent !important;
}
.u-custom-color-1,
.u-body.u-custom-color-1,
.u-container-style.u-custom-color-1:before,
.u-table-alt-custom-color-1 tr:nth-child(even)
{
    color: #111111;
    background-color: #fffcf2;
}
.u-button-style.u-custom-color-1,
.u-button-style.u-custom-color-1[class*="u-border-"]
{
    color: #111111;
    background-color: #fffcf2;
}

.u-button-style.u-custom-color-1:hover,
.u-button-style.u-custom-color-1[class*="u-border-"]:hover,
.u-button-style.u-custom-color-1:focus,
.u-button-style.u-custom-color-1[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-1:active,
.u-button-style.u-button-style.u-custom-color-1[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-1.active,
.u-button-style.u-button-style.u-custom-color-1[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-1,
li.active > .u-button-style.u-button-style.u-custom-color-1[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #fff1c0 !important;
}

.u-hover-custom-color-1:hover,
.u-hover-custom-color-1[class*="u-border-"]:hover,
.u-hover-custom-color-1:focus,
.u-hover-custom-color-1[class*="u-border-"]:focus,
.u-active-custom-color-1.u-active.u-active,
.u-active-custom-color-1[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-custom-color-1:hover,
a.u-button-style.u-hover-custom-color-1[class*="u-border-"]:hover,
a.u-button-style.u-hover-custom-color-1:focus,
a.u-button-style.u-hover-custom-color-1[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-custom-color-1:active,
a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-custom-color-1.active,
a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-custom-color-1,
li.active > a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"]
{
    color: #111111 !important;
    background-color: #fffcf2 !important;
}

a.u-link.u-hover-custom-color-1:hover {
    color: #fffcf2 !important;
}
.u-custom-color-2,
.u-body.u-custom-color-2,
.u-container-style.u-custom-color-2:before,
.u-table-alt-custom-color-2 tr:nth-child(even)
{
    color: #ffffff;
    background-color: #bab1a0;
}
.u-button-style.u-custom-color-2,
.u-button-style.u-custom-color-2[class*="u-border-"]
{
    color: #ffffff !important;
    background-color: #bab1a0 !important;
}
.u-button-style.u-custom-color-2:hover,
.u-button-style.u-custom-color-2[class*="u-border-"]:hover,
.u-button-style.u-custom-color-2:focus,
.u-button-style.u-custom-color-2[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-custom-color-2:active,
.u-button-style.u-button-style.u-custom-color-2[class*="u-border-"]:active,
.u-button-style.u-button-style.u-custom-color-2.active,
.u-button-style.u-button-style.u-custom-color-2[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-custom-color-2,
li.active > .u-button-style.u-button-style.u-custom-color-2[class*="u-border-"]
{
    color: #ffffff ;
    background-color: #aba18c !important;
}
a.u-link.u-hover-custom-color-2:hover {
    color: #bab1a0 !important;
}
.u-custom-color-3,
.u-body.u-custom-color-3,
.u-container-style.u-custom-color-3:before,
.u-table-alt-custom-color-3 tr:nth-child(even)
{
    color: #ffffff;
    background-color: #eb5e28;
}
html { font-size: 16px; }
.u-section-1 {
    background-image: none;
}
.u-section-1 .u-sheet-1 {
    min-height: 846px;
}

.u-section-1 .u-shape-1 {
    height: 403px;
    width: 1014px;
    margin: 60px auto 0 0;
}

.u-section-1 .u-shape-2 {
    width: 757px;
    height: 452px;
    margin: -171px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
    width: 1018px;
    margin: -614px auto 131px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 586px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-image-1 {
    width: 322px;
    height: 127px;
    margin: 176px auto 0 -30px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 585px;
    background-image: none;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 0;
}

.u-section-1 .u-group-1 {
    min-height: 557px;
    width: 534px;
    background-image: none;
    margin: -30px auto -1px 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 40px 60px;
}
.u-section-1 .u-text-1 {
    font-weight: 400;
    text-transform: none;
    font-size: 3.25rem;
    margin: 3% 0 2%;
}
#carousel_7967 {
    font-size: 1.25rem;
    text-align: center;
}
body {
    background-color: black !important;
}
#forgot-pw-container {
    background-color: #EB5E28;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 20px;
    border-radius: 2%;
}
.u-section-1 .u-form-1 {
    height: 248px;
    margin: 27px 0 0;
}

.u-section-1 .u-form-group-1 {
    margin-left: auto;
}

.u-section-1 .u-input-1 {
    font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
    margin-left: auto;
}

.u-section-1 .u-input-2 {
    font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
    margin-left: auto;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    margin-left: auto;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    letter-spacing: 2px;
}

.u-section-1 .u-text-2 {
    font-size: 1.125rem;
    font-weight: 300;
    margin: -134px 0 0 207px;
}

.u-section-1 .u-btn-2 {
    border-style: none none solid;
    padding: 0;
}

.u-section-1 .u-line-1 {
    height: 6px;
    transform-origin: left center 0;
    width: 155px;
    margin: 136px auto 0 0;
}

.u-section-1 .u-text-3 {
    text-transform: none;
    letter-spacing: normal;
    width: 103px;
    margin: -124px auto 0;
}

.u-section-1 .u-line-2 {
    height: 6px;
    transform-origin: left center 0;
    width: 155px;
    margin: -14px 0 0 auto;
}

.u-section-1 .u-form-2 {
    height: 52px;
    width: 381px;
    margin: 30px auto 0;
}

.u-section-1 .u-form-group-4 {
    margin-left: auto;
}

.u-section-1 .u-btn-3 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    margin-left: auto;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    letter-spacing: 2px;
}

.u-block-2620-55 {
    margin-left: auto;
}

.u-block-2620-57 {
    font-size: 1.25rem;
}

@media (max-width: 1199px) {
    .u-section-1 {
        margin-top: 200px;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 775px;
    }

    .u-section-1 .u-shape-1 {
        width: 798px;
    }

    .u-section-1 .u-shape-2 {
        width: 692px;
        height: 413px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 850px;
        margin-top: -575px;
        margin-bottom: 126px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-top: 25px;
        padding-right: 18px;
        padding-bottom: 25px;
    }

    .u-section-1 .u-image-1 {
        width: 240px;
        height: 95px;
        margin-left: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 557px;
    }

    .u-section-1 .u-group-1 {
        width: 426px;
    }

    .u-section-1 .u-container-layout-3 {
        padding: 30px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 153px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 172px;
    }

    .u-section-1 .u-form-2 {
        width: 360px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1175px;
    }

    .u-section-1 .u-shape-1 {
        height: 595px;
        width: 418px;
        margin-top: 60px;
    }

    .u-section-1 .u-shape-2 {
        height: 670px;
        width: 408px;
        margin-top: -210px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 418px;
        margin-top: -1001px;
        margin-bottom: 50px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 745px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 30px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 323px;
    }

    .u-section-1 .u-group-1 {
        width: 383px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.75rem;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1085px;
    }

    .u-section-1 .u-shape-1 {
        height: 558px;
        width: 280px;
    }

    .u-section-1 .u-shape-2 {
        width: 256px;
        height: 607px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 286px;
        margin-top: -908px;
        margin-bottom: 111px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 469px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 288px;
    }

    .u-section-1 .u-group-1 {
        width: 340px;
        margin-top: 160px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.375rem;
        width: auto;
    }

    .u-section-1 .u-text-2 {
        margin-left: 73px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 132px;
    }

    .u-section-1 .u-form-2 {
        width: 320px;
    }
}
/*responsive for tablet and phone
 */
@media only screen and (max-width: 1023px) {
    .desktop-only {
        display: none;
    }

    .u-sheet {
        position: relative;
        margin: 0 auto;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /*.u-custom-color-3, .u-body.u-custom-color-3, .u-container-style.u-custom-color-3:before, .u-table-alt-custom-color-3 tr:nth-child(even) {*/

    /*}*/

    #orange-box {
        display: none;
    }
    #cream-box {
        margin-top: 50px;
        margin-left: -105px;
    }
    #text {
        margin: -40% auto 0;
    }
    .u-section-1 .u-btn-3 {
        background-image: none;
        border-style: solid;
        text-transform: uppercase;
        margin-left: 10%;
        font-size: 1.25rem;
        font-weight: 700;
        width: 70%;
        letter-spacing: 2px;
    }
    body {
        background: black !important;
    }
    #name-30a4, #email-cd2c {
        width: 93%;
    }
    #sign-in-button {
        margin-top: 30% !important;
        text-align: center;
        width: 93%;
    }
    #verify-pw {
        width: 93%;
    }
    #forgot-pw-input {
        margin-left: 20%;
    }
}




