#forgot-pw-section {
    font-size: 1rem;
    text-align: center;
}

#email-phone-input {
    width: 70%;
}

#forgot-pw-input {
    margin: 30px 0;
}

#email-phone-input, #forgot-pw-submit {
    padding: 15px 20px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 30px;
    border: none;
}

#forgot-pw-submit {
    color: #fff;
    background: #EB5E28;
}

#forgot-pw-submit:hover {
    color: #fff;
    background: #cd4813;
}

.dialog-container input[type = "text"],.dialog-container input[type = "password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: #CCC5B9;
    border-radius: 24px;
    transition: 0.5s;
}

.dialog-container input[type = "text"]:focus,.dialog-container input[type = "password"]:focus {
    width: 280px;
    border-color: #EB5E28;
}
