body {
    margin: 0;
    padding: 0;
    background: #ECECEC;
}

.login-container {
    width: 600px;
    padding: 40px;
    margin: 100px auto;
    top: 50%;
    left: 50%;
    background: #f7f7f7;
    text-align: center;
}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

.login-container input[type = "text"],.login-container input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: #CCC5B9;
    border-radius: 24px;
    transition: 0.5s;
}

.login-container input[type = "text"]:focus,.login-container input[type = "password"]:focus {
    width: 280px;
    border-color: #EB5E28;
}

.login-container input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #EB5E28;
    padding: 14px 30px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.login-container input[type = "submit"]:hover {
    background: #EB5E28;
}

.login-container input:valid ~ span{
    display: block;

}

.login-container span {
    cursor: pointer;
    display: none;
}

.login-container span i.hide-btn:before {
    content: "\f070";
}

.level {
    margin-bottom:1.5rem;
    font-size: 0.75rem;
}

/* unvisited link */
a:link {
    color: #CCC5B9;
}

/* visited link */
a:visited {
    color: #EB5E28;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: #EB5E28;
}

