.my-account-content {
    color: #252422;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
}

.my-account-box {
    padding: 40px 20px;
    margin: 20px;
}

.my-account-info-wrapper {
    grid-row: 1 / span 3;
    grid-column: 1;
}

.my-account-info {
    list-style: none;
    padding: 0;
}

.my-account-info li {
    border-bottom: 1px solid #cdcdcd;
    padding: 20px 20px 5px 20px;
    transition: 0.2s;
}

.my-account-info li:hover {
    background: #f7f7f7;
}

.my-account-info li label {
    font-weight: bold;
}

.my-account-info li label:after {
    content: ": ";
}

.my-account-info-edit-bttn {
    display: block;
    background: transparent;
    border: 1px solid #252422;
    border-radius: 24px;
    padding: 10px 40px;
    margin: 40px auto 0 auto;
    font-size: 16px;
}

.my-account-info-edit-bttn:hover {
    background: #f7f7f7;
}

.my-account-info-edit-bttn:active {
    color: #fff;
    background: #555555;
}

.my-account-avatar-wrapper {
    grid-row: 1;
    grid-column: 2;
}

.my-account-avatar {
    width: 80%;
    max-width: 250px;
    max-height: 250px;
    flex-grow: 0;
    overflow: hidden;
}

.my-account-avatar img {
    width: 100%;
    max-width: 250px;
}

.my-account-links-wrapper {
    grid-row: 2;
    grid-column: 2 / span 2;
}

.my-account-links {
    height: 100%;
    font-size: 15pt;
}

.my-account-links a {
    text-align: right;
    padding: 20px 30px;
    transition: 0.2s;
    text-decoration: none;
}

.my-account-links a:hover {
    background: #f7f7f7;
}

.my-account-links a:active {
    color: #fff;
    background: #eb5e28;
    transition: none;
}

.my-account-links .active {
    color: #fff;
    background: #eb5e28;
}

.my-account-links .active:hover {
    background: #cd4813;
}


/* Responsive My Account */
@media only screen and (max-width: 950px) {
    .my-account-box {
        margin: 0;
        padding: 20px 0;
    }

    .my-account-info-wrapper {
        grid-row: 3;
        grid-column: 1 / span 2;
    }

    .my-account-avatar-wrapper {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .my-account-avatar {
        width: 50%;
    }

    .my-account-links-wrapper {
        grid-row: 1;
        grid-column: 1 / span 2;
        margin-bottom: 50px;
    }

    .my-account-links a {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .my-account-content {
        padding: 0;
    }

    .my-account-links-wrapper {
        padding: 0;
        background: #f7f7f7;
    }
}
