main h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 30px 0;
}

.register-form {}

.register-field {}

.register-field select {
    overflow: hidden;
    white-space: pre;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-password-visibility {
    display: none;
}
