main {
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    margin: 100px auto;
    width: 330px;
    background: #fff;
    text-align: center;
    border-radius: 24px;
    padding: 50px 35px 10px 35px;
}

.container h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.5s ease-in-out;
}

.form-outer form .page {
    text-align: left;
    font-weight: 500;
}

.form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label{
    /*for the label to be on top of the input field*/
    position: absolute;
    top: -30px;
    font-weight: 500;
}

.firstNext, .register-reset-bttn, .next, .prev, .submit {
    margin: 20px;
}

.register-reset-bttn, .submit {
    background: #000000;
}

.register-reset-bttn:hover, .submit:hover {
    background: #555555;
}

#shopper, #store_owner {
    width: 5%;
}

#store_owner {
    margin-top: -2%;
}

#shopper {
    margin: -2% 10% 10%;
}

#shopper-text {
    margin-left: -10%;
}

form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid #BAB1A0;
    border-radius: 24px;
    padding-left: 15px;
}

form .page .field select {
    margin-right: 1px;
    width: 100%;
    padding-left: 10px;
    font-weight: 500;
    border-radius: 24px;
}

form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #EB5E28;
    margin-top: -20px;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover{
    background: #cd4813;
}

form .page .btns button.next{
    margin-left: 3px;
}

.container .progress-bar{
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.container .progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;
}

.container .progress-bar .step p{
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}

.progress-bar .step .point{
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 24px;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    line-height: 25px;
}

.progress-bar .step .point.active{
    border-color: #BAB1A0;
    background: #BAB1A0;
}

.progress-bar .step .point span{
    /*position: absolute;*/
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .point.active span{
    display: none;
}

.progress-bar .step .point:before,
.progress-bar .step .point:after{
    /* the progress line transition */
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}

.progress-bar .step .point.active:after{
    background: #EB5E28;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .point:before,
.progress-bar .step:last-child .point:after{
    display: none;
}

.progress-bar .step p.active{
    color: #EB5E28;
    transition: 0.2s linear;
}

.progress-bar .step .check{
    left: 50%;
    top: 70%;
    display: none;
}

.progress-bar .step .check.active{
    display: block;
    color: #fff;
}
